body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#114623, #170f36)
}

#container {
    border-width: thin;
    border-style: solid;
    border-color: rgb(63, 122, 122);
    border-radius: 6px;
    margin: auto;
    background: #000;
    width: 400px;
    height: 250px;
}

.titulo {
    display: flex;
    justify-content: center;
    font-family: Arial;
    color: blanchedalmond;
}

.botoes {
    padding: 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.menos {
    font-size: xx-large;
    font-style: oblique;
    border-color: rgb(54, 52, 52);
    border-width: 2px;
    border-style: solid;
    border-radius: 4em;
    width: 150px;
    height: 75px;
    background-color: rgb(180, 27, 27);
}

.menos:hover {
    background-color: rgb(243, 1, 1);
}

.mais {
    font-size: xx-large;
    font-style: oblique;
    border-color: rgb(54, 52, 52);
    border-width: 2px;
    border-style: solid;
    border-radius: 4em;
    background-color: green;
    width: 150px;
    height: 75px;
}

.mais:hover {
    background-color: rgb(0, 216, 0);
}

.reset {
    width: 75px;
    height: 75px;
    border-radius: 4em;
    background-color: rgb(184, 184, 184);
    border-style: solid;
    border-color: rgb(66, 66, 66);
    font-size: x-large;
    font-family: monospace;
}

.reset:hover {
    background-color: rgb(61, 61, 61);
}